<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmeimob.custom.yhpz.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.wmeimob.custom.yhpz.bean.Banner" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lite_id" property="liteId" jdbcType="INTEGER" />
    <result column="banner_type" property="bannerType" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="href_type" property="hrefType" jdbcType="INTEGER" />
    <result column="data_id" property="dataId" jdbcType="VARCHAR" />
    <result column="data_name" property="dataName" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
  </resultMap>
</mapper>