<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmeimob.custom.yhpz.dao.BranchMapper" >
  <resultMap id="BaseResultMap" type="com.wmeimob.custom.yhpz.bean.Branch" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="branch_no" property="branchNo" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="lite_count" property="liteCount" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_uname" property="sysUname" jdbcType="VARCHAR" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>