<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmeimob.custom.yhpz.dao.GoodsBrandMapper">
    <resultMap id="BaseResultMap" type="com.wmeimob.custom.yhpz.bean.GoodsBrand">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="branch_id" property="branchId" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="TreeMap"  type="com.wmeimob.custom.yhpz.bean.GoodsBrand"  extends="BaseResultMap" >
            <collection property="goodsBrands" column="id" ofType="com.wmeimob.custom.yhpz.bean.GoodsBrand"   select="selectChildren"/>
    </resultMap>

    <update id="updateList">
        <foreach collection="list" item="map" index="index" open=" " separator=";" close=" ">
            UPDATE goods_brand SET parent_id = #{map.parentId} ,order_no = #{map.orderNo} WHERE id=#{map.id}
        </foreach>
    </update>
</mapper>