<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmeimob.custom.yhpz.dao.GoodsLiteMapper" >
  <resultMap id="BaseResultMap" type="com.wmeimob.custom.yhpz.bean.GoodsLite" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lite_id" property="liteId" jdbcType="INTEGER" />
    <result column="lite_name" property="liteName" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="sale_count" property="saleCount" jdbcType="INTEGER" />
    <result column="really_sale_count" property="reallySaleCount" jdbcType="INTEGER" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
  </resultMap>
</mapper>